// Primary colors
$light_gray: #dde1cd;
$dark_gray: #a2a88f;
$light_olive: #c4cca8;
$dark_olive: #747436;

// Additional colors
$yellow: #e4dd16;
$orange: #d34606;

// Other colors
$white: #ffffff;
$warning: #ffbc1f;
$success: #2ac769;
$error: #fb4e4e;
$disable: #e0e0e0;

// Background color
$background: #f8f8f8;

// text colors
$for_light_bg: #2c2c11;
$for_dark_bg: #f8f8f8;
